<link rel="stylesheet" href="/css/sidebar.css" />
<link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css" />
<link rel="stylesheet" href="/css/buttons.css" />
<link rel="stylesheet" href="/css/section.css" />

<%- include('templates/sidebarTest1.ejs') %>
<% if (rol == 2) { %>
    <%- include('templates/sidebarPanelLead.ejs') %>
<% } %>
<%- include('templates/sidebarEnd.ejs') %>

    <div>
        <section class="section-card">
            <% for (let template of templates) { %>
                
                <h1 id="principal">Visualizar Template: </h1>
                <hr class="db-hr">
                
                <% for (let template of templates) { %>
                <label for="NombreTemplate">Nombre del Template: </label>
                <input type="text" id="NombreTemplate" name="NombreTemplate" value="<%-template.NombreTemplate-%>" readonly/>
                <br><br>
                <%} %>
                
                

                    <label>A continuación las preguntas actuales del cuestionario: </label>
                    <br>
                    <div class="form-group w-100">

                        <% for (let templatePregunta of templatePreguntas) { %>

                        <form id="deletePregunta" action="/templates/deletePregunta=<%-templatePregunta.idPregunta-%>" method="POST">

                            <% for (let template of templates) { %>
                                <input type="hidden" value="<%-template.idTemplate-%>" name="idTemplate" />
                            <%} %>

                            <input type="hidden" value="<%-template.idPregunta-%>" name="idPregunta" />
                            <input type="text" class="form-control input-lg" id="inputlg" readonly value="<%-templatePregunta.descPregunta-%>" name="currentPregunta"/>
                            <button type="submit" class="btn btn-danger w-100" ><span><i class="bi bi-x-lg"></i> Eliminar Pregunta</span></button>
                            <br>
                            <br>

                        </form>
                        <%} %>
                        </table>
                        </div>
                    <br>
                    <br>
                
                <label>Escribe la nueva pregunta: </label>
                <br>

                <form id="insertPregunta" action="/templates/template=<%-template.idTemplate-%>" method="POST">
                    <input type="text" class="form-control input-lg" id="inputlg" name="nuevapregunta"></input>
                    <br>
                    <button type="submit" class="btn btn-primary w-100">Añadir nueva pregunta</button>
                </form>

            <%} %>
            </form>
        </section>
    </div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
<script src="/bootstrap/js/bootstrap.min.js"></script>

<%- include('templates/footer.ejs') %>