<link rel="stylesheet" href="/css/sidebar.css" />
<link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css" />
<link rel="stylesheet" href="/css/buttons.css" />
<link rel="stylesheet" href="/css/section.css" />

<%- include('templates/sidebarMain.ejs') %>
<% if (rol == 3) { %>
    <%- include('templates/sidebarPanelLead.ejs') %>
<% } %>
<% if (rol == 2) { %>
    <%- include('templates/sidebarCLA.ejs') %>
<% } %>
<%- include('templates/sidebarEnd.ejs') %>
    <div>
        <section class="section-card">
            <% if (success != '') { %>
                <div class="alert alert-success" role="alert">
                    <strong>Atención! </strong><%- success -%>
                </div>
            <%} %>

            <% if (warning != '') { %>
                <div class="alert alert-danger" role="alert">
                    <strong>Atención! </strong><%- warning -%>
                </div>
            <%} %>
            <% for (let template of templates) { %>
                
                <h1 id="principal">Visualizar Template</h1>
                <hr class="db-hr">
                
                <% for (let template of templates) { %>
                    <a href="/templates/listaTemplates"><button type="button" class="btn-navigation">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-return-left" viewBox="0 0 16 16">
                            <path fill-rule="evenodd" d="M14.5 1.5a.5.5 0 0 1 .5.5v4.8a2.5 2.5 0 0 1-2.5 2.5H2.707l3.347 3.346a.5.5 0 0 1-.708.708l-4.2-4.2a.5.5 0 0 1 0-.708l4-4a.5.5 0 1 1 .708.708L2.707 8.3H12.5A1.5 1.5 0 0 0 14 6.8V2a.5.5 0 0 1 .5-.5z"/>
                          </svg>
                        Regresar a lista de plantillas</button></a>
                    <a href="#guardarP"><button type="button" class="btn-navigation">Sección Añadir Pregunta</button></a>
                    <br> <br>
                <h2><%= template.NombreTemplate %></h2>
                <br>
                <%} %>
                    <h4>A continuación las preguntas actuales del cuestionario</h4>
                    <br>
                    <div class="form-group w-100">
                        <% for (let templatePregunta of templatePreguntas) { %>
                        <form id="deletePregunta" action="/templates/deletePregunta= <%= templatePregunta.idPregunta %>" method="POST">
                            <% for (let template of templates) { %>
                                <input type="hidden" value="<%-template.idTemplate-%>" name="idTemplate" />
                            <%} %>
                            <input type="hidden" value="<%= template.idPregunta %>" name="idPregunta" />
                            <input type="text" class="form-control input-lg" id="inputlg" readonly value="<%= templatePregunta.descPregunta%>" name="currentPregunta"/>
                            <br>
                            <div class="text-center">
                            <a href="/templates/editPregunta= <%= templatePregunta.idPregunta %>" class = "btn-modify w-25" class="action_btn submit" >Modificar Pregunta</a>
                            <button type="submit" class="btn-delete w-25" class="action_btn submit" ><span><i class="bi bi-x-lg"></i> Eliminar Pregunta</span></button>
                            </div>
                            <br>
                        </form>
                        <%} %>
                    </div>
                <h5>Añadir una nueva pregunta:</h5>
                <label><svg xmlns="http://www.w3.org/2000/svg" width="10" height="10" fill="red" class="bi bi-asterisk" viewBox="0 0 16 16">
                    <path d="M8 0a1 1 0 0 1 1 1v5.268l4.562-2.634a1 1 0 1 1 1 1.732L10 8l4.562 2.634a1 1 0 1 1-1 1.732L9 9.732V15a1 1 0 1 1-2 0V9.732l-4.562 2.634a1 1 0 1 1-1-1.732L6 8 1.438 5.366a1 1 0 0 1 1-1.732L7 6.268V1a1 1 0 0 1 1-1z"></path>
                    </svg>Campo requerido</label>
                <br><br>
                <label>Escribe la nueva pregunta: <svg xmlns="http://www.w3.org/2000/svg" width="10" height="10" fill="red" class="bi bi-asterisk" viewBox="0 0 16 16">
                    <path d="M8 0a1 1 0 0 1 1 1v5.268l4.562-2.634a1 1 0 1 1 1 1.732L10 8l4.562 2.634a1 1 0 1 1-1 1.732L9 9.732V15a1 1 0 1 1-2 0V9.732l-4.562 2.634a1 1 0 1 1-1-1.732L6 8 1.438 5.366a1 1 0 0 1 1-1.732L7 6.268V1a1 1 0 0 1 1-1z"></path>
                    </svg></label>
                <br>
                <form id="insertPregunta" action="/templates/template=<%-template.idTemplate-%>" method="POST">
                    <input type="text" class="form-control input-lg" id="insertP" name="nuevapregunta" onkeydown="ENABLE_BTN()" oninput="validate(this)" maxlength="128" required></input>
                    <br>
                    <label>Selecciona el tipo de pregunta: <svg xmlns="http://www.w3.org/2000/svg" width="10" height="10" fill="red" class="bi bi-asterisk" viewBox="0 0 16 16">
                        <path d="M8 0a1 1 0 0 1 1 1v5.268l4.562-2.634a1 1 0 1 1 1 1.732L10 8l4.562 2.634a1 1 0 1 1-1 1.732L9 9.732V15a1 1 0 1 1-2 0V9.732l-4.562 2.634a1 1 0 1 1-1-1.732L6 8 1.438 5.366a1 1 0 0 1 1-1.732L7 6.268V1a1 1 0 0 1 1-1z"></path>
                        </svg></label>
                    <br>
                    <select name="tipoPregunta" id="tipoPregunta" class="form-select">
                        <option selected="selected" value="1">Pregunta de Texto</option>
                        <option value="2">Pregunta Sí/No</option>
                        <option value="3">Pregunta de Calificación (1 - 5)</option>
                    </select>
                    <br>
                    <div class="text-center">
                        <button id="guardarP"  type="submit" class="btn-normal w-50">Añadir Nueva Pregunta</button>
                    </div>
                </form>
            <%} %>
            </form>
            <a href="#principal"><button type="button" class="btn-navigation">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-up" viewBox="0 0 16 16">
            <path fill-rule="evenodd" d="M8 15a.5.5 0 0 0 .5-.5V2.707l3.146 3.147a.5.5 0 0 0 .708-.708l-4-4a.5.5 0 0 0-.708 0l-4 4a.5.5 0 1 0 .708.708L7.5 2.707V14.5a.5.5 0 0 0 .5.5z"/>
                  </svg>
            Regresar Arriba</button></a>
        </section>
    </div>

    <script>window.onload = function() {
        document.getElementById('guardarP').disabled = true; 
    }
    function ENABLE_BTN() {
        var EN=document.getElementById('insertP').value;
        if(EN=='') {
            document.getElementById('guardarP').disabled=true;
        } else {
            document.getElementById('guardarP').disabled=false;
        }
    }
    </script>

    <script>
        function validate(input){
            if(/^\s/.test(input.value))
                input.value = '';
            }
    </script>


<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
<script src="/bootstrap/js/bootstrap.min.js"></script>

<%- include('templates/footer.ejs') %>
