<%- include('templates/sidebarMain.ejs') %>
<% if (rol == 2) { %>
    <%- include('templates/sidebarPanelLead.ejs') %>
<% } %>
<%- include('templates/sidebarEnd.ejs') %>

<link rel="stylesheet" href="/css/sidebar.css" />
<link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css" />
<link rel="stylesheet" href="/css/buttons.css" />
<link rel="stylesheet" href="/css/section.css" />

<div>
    <section class="section-card">
        <% for (let observacion of observaciones) { %>
        <form id="insertObservacion" action="/mentees/editObservacion=<%= observacion.idObservacion %>" method="POST">
            <div class="form-group">
                <label for="descObservacion">Modifica tu observación:</label>
<<<<<<< HEAD
                <textarea class="form-control" id="descObservacion" name="descObservacion" rows="3" oninput="validate(this)"><%- observacion.descObservacion -%> </textarea>
=======
                <textarea class="form-control" id="descObservacion" name="descObservacion" rows="3"><%- observacion.descObservacion -%></textarea>
>>>>>>> bae4f75f8e07711af4e7509fd2294eb5a54b078e
            </div>
            <button type="submit" class="btn btn-primary w-100">Guardar cambios</button>
        </form>
        <% } %>
        <br>
        <a href="/mentees/misMentorados"><button type="button" class="btn btn-secondary">Regresar a tus Mentorados</button></a>
    </section>
</div>

<<<<<<< HEAD
<script>
    function validate(input){
        if(/^\s/.test(input.value))
            input.value = '';
        }
</script>

=======
>>>>>>> bae4f75f8e07711af4e7509fd2294eb5a54b078e
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
<script src="/bootstrap/js/bootstrap.min.js"></script>
<%- include('templates/footer.ejs') %>