<link rel="stylesheet" href="/css/sidebar.css" />
<link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css" />
<link rel="stylesheet" href="/css/buttons.css" />
<link rel="stylesheet" href="/css/section.css" />

<%- include('templates/sidebarMain.ejs') %>
<% if (rol == 2) { %>
    <%- include('templates/sidebarPanelLead.ejs') %>
<% } %>
<%- include('templates/sidebarEnd.ejs') %>


    <div>
        <section class="section-card">
            <h1 id="principal">Periodos de Evaluación</h1>
            <h2>Modificar periodo:</h2>
            <br>
            <% for (let periodo of periodos) { %>
            <form action="/periodos/editPeriodo=<%- periodo.idPeriodo -%>" method="POST">
                <label for="FechaInicio">Fecha de Inicio: </label>
<<<<<<< HEAD
                <input type="date" name = "FechaInicio" value="<%- moment(periodo.FechaInicio).utc().format("YYYY-MM-DD"); -%>" id="FechaInicio" name="FechaInicio" min="<%- moment(fecha).utc().format("YYYY-MM-DD") -%> " oninput="validate(this)">
                <br><br>
                <label for="FechaFin">Fecha Fin: </label>
                <input type="date" name = "FechaFin" value="<%- moment(periodo.FechaFin).utc().format("YYYY-MM-DD"); -%>" id="FechaFin" name="FechaFin" min="<%- moment(fecha).utc().format("YYYY-MM-DD") -%>" oninput="validate(this)">
                <br><br>
                <button type="submit" class="btn btn-outline-secondary" id="btnRegPeriodo" onclick="checkDate()">Modificar</button>
            </form>
            <% } %>
            <br>
            <a href="/dashboard"><button type="button" class="btn btn-secondary">Regresar al dashboard</button></a>
=======
                <input type="date" name = "FechaInicio" value="<%- moment(periodo.FechaInicio).utc().format("YYYY-MM-DD"); -%>" id="FechaInicio" name="FechaInicio" min="<%- moment(fecha).utc().format("YYYY-MM-DD") -%>">
                <br><br>
                <label for="FechaFin">Fecha Fin: </label>
                <input type="date" name = "FechaFin" value="<%- moment(periodo.FechaFin).utc().format("YYYY-MM-DD"); -%>" id="FechaFin" name="FechaFin" min="<%- moment(fecha).utc().format("YYYY-MM-DD") -%>">
                <br><br>
                <button type="submit" class="btn-normal" id="btnRegPeriodo" onclick="checkDate()">Modificar</button>
            </form>
            <% } %>
            <br>
            <a href="/empleados/dashboard"><button type="button" class="btn-navigation">Regresar al dashboard</button></a>
>>>>>>> bae4f75f8e07711af4e7509fd2294eb5a54b078e
        </section>
    </div>
</body>

<script>
    
    function checkDate() {
        var fechaInicio = document.getElementById("FechaInicio");
        var fechaFin = document.getElementById("FechaFin");
<<<<<<< HEAD

        fechaInicio = moment(fechaInicio).utc().format("YYYY-MM-DD");
        fechaFin = moment(fechaFin).utc().format("YYYY-MM-DD");

        console.log(fechaInicio);
        console.log(fechaFin);

=======
        fechaInicio = moment(fechaInicio).utc().format("YYYY-MM-DD");
        fechaFin = moment(fechaFin).utc().format("YYYY-MM-DD");
        console.log(fechaInicio);
        console.log(fechaFin);
>>>>>>> bae4f75f8e07711af4e7509fd2294eb5a54b078e
        if (fechaFin < fechaInicio) {
            alert("La fecha final no puede ser menor a la fecha inicial")
        } else if (fechaFin == fechaInicio) {
            alert("La fecha final no puede ser el mismo día que la fecha inicial")
        }
    }
</script>

<<<<<<< HEAD
<script>
    function validate(input){
        if(/^\s/.test(input.value))
            input.value = '';
        }
</script>

=======
>>>>>>> bae4f75f8e07711af4e7509fd2294eb5a54b078e
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
<script src="/bootstrap/js/bootstrap.min.js"></script>

<%- include('templates/footer.ejs') %>