<%- include('templates/sidebarMain.ejs') %>
<% if (rol == 3) { %>
    <%- include('templates/sidebarPanelLead.ejs') %>
<% } %>
<% if (rol == 2) { %>
    <%- include('templates/sidebarCLA.ejs') %>
<% } %>
<%- include('templates/sidebarEnd.ejs') %>

<link rel="stylesheet" href="/css/sidebar.css" />
<link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css" />
<link rel="stylesheet" href="/css/buttons.css" />
<link rel="stylesheet" href="/css/section.css" />

<div>
    <section class="section-card">
        <% for (let observacion of observaciones) { %>
        <form id="insertObservacion" action="/mentees/editObservacion=<%= observacion.idObservacion %>" method="POST">
            <div class="form-group">
                <label><svg xmlns="http://www.w3.org/2000/svg" width="10" height="10" fill="red" class="bi bi-asterisk" viewBox="0 0 16 16">
                    <path d="M8 0a1 1 0 0 1 1 1v5.268l4.562-2.634a1 1 0 1 1 1 1.732L10 8l4.562 2.634a1 1 0 1 1-1 1.732L9 9.732V15a1 1 0 1 1-2 0V9.732l-4.562 2.634a1 1 0 1 1-1-1.732L6 8 1.438 5.366a1 1 0 0 1 1-1.732L7 6.268V1a1 1 0 0 1 1-1z"></path>
                    </svg>Campo requerido</label>
                <br><br>
                <label for="descObservacion">Modifica tu observación: <svg xmlns="http://www.w3.org/2000/svg" width="10" height="10" fill="red" class="bi bi-asterisk" viewBox="0 0 16 16">
                    <path d="M8 0a1 1 0 0 1 1 1v5.268l4.562-2.634a1 1 0 1 1 1 1.732L10 8l4.562 2.634a1 1 0 1 1-1 1.732L9 9.732V15a1 1 0 1 1-2 0V9.732l-4.562 2.634a1 1 0 1 1-1-1.732L6 8 1.438 5.366a1 1 0 0 1 1-1.732L7 6.268V1a1 1 0 0 1 1-1z"></path>
                    </svg></label>
                <textarea class="form-control" id="descObservacion" name="descObservacion" rows="3" oninput="validate(this)" maxlength="500" required><%- observacion.descObservacion -%> </textarea>
            </div>
            <button type="submit" class="btn btn-primary w-100">Guardar cambios</button>
        </form>
        <% } %>
        <br>
        <a href="/mentees/misMentorados"><button type="button" class="btn btn-secondary">Regresar a tus Mentorados</button></a>
    </section>
</div>

<script>
    function validate(input){
        if(/^\s/.test(input.value))
            input.value = '';
        }
</script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
<script src="/bootstrap/js/bootstrap.min.js"></script>
<%- include('templates/footer.ejs') %>