<link rel="stylesheet" href="/css/sidebar.css" />
<link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css" />
<link rel="stylesheet" href="/css/buttons.css" />
<link rel="stylesheet" href="/css/section.css" />

<%- include('templates/sidebarMain.ejs') %>
<% if (rol == 3) { %>
    <%- include('templates/sidebarPanelLead.ejs') %>
<% } %>
<% if (rol == 2) { %>
    <%- include('templates/sidebarCLA.ejs') %>
<% } %>
<%- include('templates/sidebarEnd.ejs') %>


    <div>
        <section class="section-card">
            <h1 id="principal">Periodos de Evaluación</h1>
            <h2>Modificar periodo:</h2>
            <br>
            <label><svg xmlns="http://www.w3.org/2000/svg" width="10" height="10" fill="red" class="bi bi-asterisk" viewBox="0 0 16 16">
                <path d="M8 0a1 1 0 0 1 1 1v5.268l4.562-2.634a1 1 0 1 1 1 1.732L10 8l4.562 2.634a1 1 0 1 1-1 1.732L9 9.732V15a1 1 0 1 1-2 0V9.732l-4.562 2.634a1 1 0 1 1-1-1.732L6 8 1.438 5.366a1 1 0 0 1 1-1.732L7 6.268V1a1 1 0 0 1 1-1z"></path>
                </svg>Campo requerido</label>
            <br><br>
            <% for (let periodo of periodos) { %>
            <form action="/periodos/editPeriodo=<%- periodo.idPeriodo -%>" method="POST">
                <label for="FechaInicio">Fecha de Inicio: <svg xmlns="http://www.w3.org/2000/svg" width="10" height="10" fill="red" class="bi bi-asterisk" viewBox="0 0 16 16">
                    <path d="M8 0a1 1 0 0 1 1 1v5.268l4.562-2.634a1 1 0 1 1 1 1.732L10 8l4.562 2.634a1 1 0 1 1-1 1.732L9 9.732V15a1 1 0 1 1-2 0V9.732l-4.562 2.634a1 1 0 1 1-1-1.732L6 8 1.438 5.366a1 1 0 0 1 1-1.732L7 6.268V1a1 1 0 0 1 1-1z"></path>
                    </svg></label>
                <input type="date" name = "FechaInicio" value="<%- moment(periodo.FechaInicio).utc().format("YYYY-MM-DD"); %>" id="FechaInicio" name="FechaInicio" min="<%- moment(fecha).utc().format("YYYY-MM-DD") %>" oninput="validate(this)" required>
                <br><br>
                <label for="FechaFin">Fecha Fin: <svg xmlns="http://www.w3.org/2000/svg" width="10" height="10" fill="red" class="bi bi-asterisk" viewBox="0 0 16 16">
                    <path d="M8 0a1 1 0 0 1 1 1v5.268l4.562-2.634a1 1 0 1 1 1 1.732L10 8l4.562 2.634a1 1 0 1 1-1 1.732L9 9.732V15a1 1 0 1 1-2 0V9.732l-4.562 2.634a1 1 0 1 1-1-1.732L6 8 1.438 5.366a1 1 0 0 1 1-1.732L7 6.268V1a1 1 0 0 1 1-1z"></path>
                    </svg></label>
                <input type="date" name = "FechaFin" value="<%- moment(periodo.FechaFin).utc().format("YYYY-MM-DD"); %>" id="FechaFin" name="FechaFin" min="<%- moment(fecha).utc().format("YYYY-MM-DD") %>" oninput="validate(this)" required>
                <br><br>
                <button type="submit" class="btn-normal" id="btnRegPeriodo" onclick="checkDate()">Modificar</button>
            </form>
            <% } %>
            <br>
            <a href="/periodos"><button type="button" class="btn-navigation">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-return-left" viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="M14.5 1.5a.5.5 0 0 1 .5.5v4.8a2.5 2.5 0 0 1-2.5 2.5H2.707l3.347 3.346a.5.5 0 0 1-.708.708l-4.2-4.2a.5.5 0 0 1 0-.708l4-4a.5.5 0 1 1 .708.708L2.707 8.3H12.5A1.5 1.5 0 0 0 14 6.8V2a.5.5 0 0 1 .5-.5z"/>
                  </svg>
                 Regresar a la lista de Periodos</button></a>
        </section>
    </div>
</body>

<script>
    
    function checkDate() {
        var fechaInicio = document.getElementById("FechaInicio");
        var fechaFin = document.getElementById("FechaFin");
        fechaInicio = moment(fechaInicio).utc().format("YYYY-MM-DD");
        fechaFin = moment(fechaFin).utc().format("YYYY-MM-DD");
        console.log(fechaInicio);
        console.log(fechaFin);
        if (fechaFin < fechaInicio) {
            alert("La fecha final no puede ser menor a la fecha inicial")
        } else if (fechaFin == fechaInicio) {
            alert("La fecha final no puede ser el mismo día que la fecha inicial")
        }
    }
</script>

<script>
    function validate(input){
        if(/^\s/.test(input.value))
            input.value = '';
        }
</script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
<script src="/bootstrap/js/bootstrap.min.js"></script>

<%- include('templates/footer.ejs') %>
