<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
<link rel="stylesheet" href="/css/sidebar.css" />
<link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css" />
<link rel="stylesheet" href="/css/buttons.css" />
<link rel="stylesheet" href="/css/section.css" />

<%- include('templates/sidebar.ejs') %>

<body style="background: url('/img/bg-sire.png');">
    <div class="main">
    <section class="section-card">
    <h1 id="principal">Empleados</h1>
    <h2>Editar un Empleado:</h2>
    <br>
    <% for (let empleado of empleados) { %>
    <form action="/empleados/<%-empleado.idEmpleado-%>" method="POST">
        <!-- Para los datos personales -->
        <label for="fechaIng">Fecha de ingreso: </label>
        <input type="date" id="fechaIng" name="fechaIng" value=<%- empleado.fechaIng -%>>
        <br><br>
        <label for="nombre">Nombre: </label>
        <input type="text" id="nombre" name="nombre" value=<%- empleado.nombre -%> >
        <br><br>
        <label for="apellidoP">Apellido Paterno: </label>
        <input type="text" id="apellidoP" name="apellidoP" value=<%- empleado.apellidoP -%>>
        <br><br>
        <label for="apellidoM">Apellido Materno: </label>
        <input type="text" id="apellidoM" name="apellidoM" value=<%- empleado.apellidoM -%>>
        <br><br>

        <!-- TEMPORAL -->
        <label for="antiguedad">Antiguedad: </label>
        <input type="number" min="0" id="antiguedad" name="antiguedad" value=<%- empleado.antiguedad -%>>
        <br><br>

        <!-- Para los datos empresariales (falta hacer el c치lculo, por ahora es manual) -->
        <label for="nivPeople">Nivel People: </label>
        <select name="nivPeople" id="nivPeople" class="form-select" value=<%- empleado.nivPeople -%>>
            <option value="1.1">1.1</option>
            <option value="1.2">1.2</option>
            <option value="1.3">1.3</option>
            <option value="2.1">2.1</option>
            <option value="2.2">2.2</option>
            <option value="2.3">2.3</option>
            <option value="3.1">3.1</option>
            <option value="3.2">3.1</option>
            <option value="3.3">3.1</option>
            <option value="4.1">4.1</option>
            <option value="4.2">4.2</option>
            <option value="4.3">4.3</option>
            <option value="5.1">5.1</option>
            <option value="5.2">5.2</option>
            <option value="5.3">5.3</option>
        </select>
        <br><br>
        <label for="nivCraft">Nivel Craft: </label>
        <select name="nivCraft" id="nivCraft" class="form-select" value=<%- empleado.nivCraft -%>>
            <option value="1.1">1.1</option>
            <option value="1.2">1.2</option>
            <option value="1.3">1.3</option>
            <option value="2.1">2.1</option>
            <option value="2.2">2.2</option>
            <option value="2.3">2.3</option>
            <option value="3.1">3.1</option>
            <option value="3.2">3.1</option>
            <option value="3.3">3.1</option>
            <option value="4.1">4.1</option>
            <option value="4.2">4.2</option>
            <option value="4.3">4.3</option>
            <option value="5.1">5.1</option>
            <option value="5.2">5.2</option>
            <option value="5.3">5.3</option>
        </select>
        <br><br>
        <label for="nivBusiness">Nivel Business: </label>
        <select name="nivBusiness" id="nivBusiness" class="form-select" value=<%- empleado.nivBusiness -%>>
            <option value="1.1">1.1</option>
            <option value="1.2">1.2</option>
            <option value="1.3">1.3</option>
            <option value="2.1">2.1</option>
            <option value="2.2">2.2</option>
            <option value="2.3">2.3</option>
            <option value="3.1">3.1</option>
            <option value="3.2">3.1</option>
            <option value="3.3">3.1</option>
            <option value="4.1">4.1</option>
            <option value="4.2">4.2</option>
            <option value="4.3">4.3</option>
            <option value="5.1">5.1</option>
            <option value="5.2">5.2</option>
            <option value="5.3">5.3</option>
        </select>
        <br><br>

        <!-- TEMPORAL -->
        <label for="nivOverall">Nivel Overall: </label>
        <input type="number" step=1.1 id="nivOverall" name="nivOverall" value=<%- empleado.nivOverall.toFixed(1) -%>>
        <br><br>

        <label for="puesto">Puesto: </label>
        <input type="text" id="puesto" name="puesto" value=<%- empleado.puesto -%>>
        <br><br>
        <label for="equipo">Equipo: </label>
        <input type="text" id="equipo" name="equipo" value=<%- empleado.equipo -%>>
        <br><br>
        <label for="email">Correo electr칩nico: </label>
        <input type="email" id="email" name="email" value=<%- empleado.email -%>>
        <br><br>
        <label for="fk_idChapter">Chapter: </label>
        <select name="fk_idChapter" id="fk_idChapter" class="form-select" value=<%- empleado.fk_idChapter -%>>
            <option value="1">IT</option>
        </select>
        <br><br>
        <label for="fk_idRolJer">Rol Jer치rquico: </label>
        <select name="fk_idRolJer" id="fk_idRolJer" class="form-select" value=<%- empleado.fk_idRolJer -%>>
            <option value="1">Member</option>
            <option value="2">Chapter Lead Assistant</option>
            <option value="3">Chapter Leader</option>
        </select>
        <br><br>
        <label for="password">Nueva Contrase침a: </label>
        <input type="password" id="password" name="password">
        <br><br>

        <!-- TEMPORAL -->
        <label for="isActive">Status: </label>
        <select name="isActive" id="isActive" class="form-select" value=<%- empleado.isActive -%>>
            <option value="1">Activo</option>
            <option value="2">Inactivo</option>
        </select>
        <br><br>

        <input type="submit" value="Enviar">
    </form>
    <%} %>
    <br><br>
    <a href="/empleados/lista"><button type="button" class="btn btn-secondary">Regresar al listado de empleados</button></a>
    </section>
</div>
</body>

<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
<script src="/bootstrap/js/bootstrap.min.js"></script>