<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
<link rel="stylesheet" href="/css/sidebar.css" />
<link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css" />
<link rel="stylesheet" href="/css/buttons.css" />
<link rel="stylesheet" href="/css/section.css" />

<%- include('templates/sidebar.ejs') %>

<body style="background: url('/img/bg-sire.png');">
    <section class="main" style="background: var(--bs-light);filter: blur(0px);--bs-body-bg: #fff;border-style: double;">
    <h1 id="principal">Empleados</h1>
    <h2>Editar un Empleado:</h2>
    <br>
    <% for (let empleado of empleados) { %>
    <form action="/empleados/<%-empleado.idEmpleado-%>" method="PUT">
        <label for="fechaIng">Fecha de ingreso: </label>
        <input type="date" id="fechaIng" name="fechaIng" placeholder=<%- empleado.fechaIng -%>>
        <br><br>
        <!-- Para los datos personales -->
        <label for="nombre">Nombre: </label>
        <input type="text" id="nombre" name="nombre" placeholder=<%- empleado.nombre -%> >
        <br><br>
        <label for="apellidoP">Apellido Paterno: </label>
        <input type="text" id="apellidoP" name="apellidoP" placeholder=<%- empleado.apellidoP -%>>
        <br><br>
        <label for="apellidoM">Apellido Materno: </label>
        <input type="text" id="apellidoM" name="apellidoM" placeholder=<%- empleado.apellidoM -%>>
        <br><br>

        <!-- TEMPORAL -->
        <label for="antiguedad">Antiguedad: </label>
        <input type="number" min="0" id="antiguedad" name="antiguedad" placeholder=<%- empleado.antiguedad -%>>
        <br><br>

        <!-- Para los datos empresariales (falta hacer el c치lculo, por ahora es manual) -->
        <label for="nivPeople">Nivel People: </label>
        <input type="number" step=1.1 id="nivPeople" name="nivPeople" placeholder=<%- empleado.nivPeople -%>>
        <br><br>
        <label for="nivCraft">Nivel Craft: </label>
        <input type="number" step=1.1 id="nivCraft" name="nivCraft" placeholder=<%- empleado.nivCraft -%>>
        <br><br>
        <label for="nivBusiness">Nivel Business: </label>
        <input type="number" step=1.1 id="nivBusiness" name="nivBusiness" placeholder=<%- empleado.nivBusiness -%>>
        <br><br>

        <!-- TEMPORAL -->
        <label for="nivOverall">Nivel Overall: </label>
        <input type="number" step=1.1 id="nivOverall" name="nivOverall" placeholder=<%- empleado.nivOverall -%>>
        <br><br>

        <label for="puesto">Puesto: </label>
        <input type="text" id="puesto" name="puesto" placeholder=<%- empleado.puesto -%>>
        <br><br>
        <label for="equipo">Equipo: </label>
        <input type="text" id="equipo" name="equipo" placeholder=<%- empleado.equipo -%>>
        <br><br>
        <label for="email">Correo electr칩nico: </label>
        <input type="email" id="email" name="email" placeholder=<%- empleado.email -%>>
        <br><br>
        <label for="fk_idChapter">Chapter: </label>
        <input type="number" id="fk_idChapter" name="fk_idChapter" placeholder=<%- empleado.email -%>>
        <br><br>
        <label for="fk_idRolJer">Rol Jer치rquico: </label>
        <input type="number" id="fk_idRolJer" name="fk_idRolJer" placeholder=<%- empleado.fk_idRolJer -%>>
        <br><br>
        <label for="password">Contrase침a: </label>
        <input type="password" id="password" name="password" placeholder=<%- empleado.password -%>>
        <br><br>

        <!-- TEMPORAL -->
        <label for="isActive">Status: </label>
        <input type="number" min="0" max="1" id="isActive" name="isActive" placeholder=<%- empleado.isActive -%>>
        <br><br>

        <input type="submit" value="Enviar">
    </form>
    <%} %>
    <br><br>
    <a href="/empleados/lista"><button type="button" class="btn btn-secondary">Regresar al listado de empleados</button></a>
    </section>
</body>

<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
<script src="/bootstrap/js/bootstrap.min.js"></script>