<%- include('templates/sidebarMain.ejs') %>
<% if (rol == 3) { %>
    <%- include('templates/sidebarPanelLead.ejs') %>
<% } %>
<% if (rol == 2) { %>
    <%- include('templates/sidebarCLA.ejs') %>
<% } %>
<%- include('templates/sidebarEnd.ejs') %>

<link rel="stylesheet" href="/css/sidebar.css" />
<link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css" />
<link rel="stylesheet" href="/css/buttons.css" />
<link rel="stylesheet" href="/css/section.css" />

    <div>
        <% for (let periodo of periodos) { %>
        <section class="section-card">
            <% if (success != '') { %>
                <div class="alert alert-success" role="alert">
                    <strong>Atención! </strong><%- success -%>
                </div>
            <%} %>
            <% if (warning != '') { %>
                <div class="alert alert-danger" role="alert">
                    <strong>Atención! </strong><%- warning -%>
                </div>
            <%} %>
            <h1 id="principal">Evaluaciones: </h1>
            <hr class="db-hr">
            <!-- Para las evaluaciones que le fueron asignadas al empleado -->
            <button class="btn-navigation" type="button" data-bs-toggle="collapse" data-bs-target="#aEvaluar" aria-expanded="false" aria-controls="aEvaluar">Evaluaciones de compañeros a contestar</button>
            <br>
            <div class="collapse show" id="aEvaluar">
                <br>
                <div class="card card-body">
                    <div class="col-auto">
                    <% if (cuestionarios.length > 0) { %>
                        <p>Las siguientes evaluaciones fueron solicitadas por alguno de tus compañeros: </p>
                        <% for (let cuestionario of cuestionarios) { %>
                            <div class = "row">
                                <div class="card mb-3" style="max-width: 720px;">
                                    <div class="row g-0">
                                        <div class="card-body">
                                            <h5 class="card-title">Evaluación de <%- cuestionario.nombre -%> <%- cuestionario.apellidoP -%> <%- cuestionario.apellidoM -%></h5>
                                            <p class="card-text">Disponible del: <%- moment.tz(cuestionario.FechaInicio, 'UTC').format("LL")%> al <%- moment.tz(cuestionario.FechaFin, 'UTC').format("LL")%></p>
                                            <% if (cuestionario.isAnswered == 0){ %>
                                                <p class="card-text">Status de evaluación: <strong>Sin Contestar</strong></p>
                                                <a href="/evaluacion/feedback=<%-cuestionario.idCuestionario-%>"><label class="btn-normal">Contestar</label></a>
                                            <% } else { %>
                                                <p class="card-text">Status de evaluación: <strong>Contestada</strong></p>
                                            <%} %>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        <%} %>
                    <% } else { %>
                        <p>Todavía no has recibido ninguna solicitud para contestar feedback de otro compañero en este periodo, regresa más tarde.</p>
                    <% } %>
                    </div>
                </div>
                <a href="#principal"><button type="button" class="btn-navigation">Regresar Arriba</button></a>
            </div>
            <br>
            <!-- Para solicitar ser evaluado (asignación de evaluadores) -->
            <% if (pActivo != 0)  { %>
                <br> <br>
                <button class="btn-normal" type="button" data-bs-toggle="collapse" data-bs-target="#aSolicitar" aria-expanded="false" aria-controls="aSolicitar">Solicitar Evaluación</button>
                <br>   <br>
                <div class="collapse" id="aSolicitar">
                <div class="card card-body">
                    <form action="/evaluaciones" method="POST">
                        <input id="periodo" name="periodo" type="hidden" value="<%= pActivo %>">
                        <div class="row">
                            <div class="col-auto">
                                <select id="nombre" name="nombre" data-live-search="true" required class="selectpicker" multiple>
                                    <% for (let empleado of empleados) { %>
                                        <option style="background: rgba(77, 70, 70, 0.582)"><%= empleado.nombre %> <%= empleado.apellidoP %></option>
                                    <% } %>
                                </select>
                                <button type="submit" class="btn-normal">Enviar</button>
            
                            </div>
                        </div>
                        
                    </form>
                </div>
            </div>
            <% } %>
            <hr class="db-hr">
            <br>
            <a href="/empleados/dashboard"><button type="button" class="btn-navigation">Regresar al dashboard</button></a>
        </section>
        <%} %>
</div>

<script>
    function validate(input){
        if(/^\s/.test(input.value))
            input.value = '';
        }
</script>

<%- include('templates/footer.ejs') %>

