<%- include('templates/sidebarMain.ejs') %>
<!-- Si es CL o CLA despliega lo siguiente: -->

<% if (rol == 2) { %>
    <%- include('templates/sidebarPanelLead.ejs') %>
<% } %>

<%- include('templates/sidebarEnd.ejs') %>

<link rel="stylesheet" href="/css/sidebar.css" />
<link rel="stylesheet" href="/css/section.css" />
<link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css" />

        <main>
            <section class="section-dash-main" style="height: 350px;">
                <h1 id="principal">Resumen de Estado</h1>
                <hr class="db-hr">
                <table class="table">
                    <tr>
                        <th style="background-color: rgba(159,73,110); color: white; font-family:  Helvetica, "Helvetica Neue", Arial, sans-serif;" >Dimensiones</th>
                        <th style="background-color: rgb(244, 67, 54);color: white; font-family:  Helvetica, "Helvetica Neue", Arial, sans-serif;" >Indicador</th>
                    </tr>
                    <tr>
                        <td><strong>People</strong> </td>
                        <td id="nPeople"><%- nivel_P -%></td>
                    </tr>
                    <tr>
                        <td><strong>Craft</strong> </td>
                        <td id="nCraft"><%- nivel_C -%></td>
                    </tr>
                    <tr>
                        <td><strong>Business</strong> </td>
                        <td id="nBusiness"><%- nivel_B -%></td>
                    </tr>
                    <tr>
                        <td><strong>Nivel Overall</strong> </td>
                        <td id="nivOverall"><%- Math.min(nivel_P+1, nivel_C, nivel_B) -%></td>
                    </tr>
                </table>
                <br><br>
            </section>
        </main>

        <section class="section-dash-main">
            <h1 id="principal">Niveles Dimensiones</h1>
            <div class="canvas-container" style="width: 500px; height: 500px;">
                <canvas id="graficaD" ></canvas>
            </div>
        
            <div class="canvas-container" style="width: 300px; height: 300px;">
                <canvas id="grafica"></canvas>
            </div>
        </section>

        <% if(rol==3) { %>
        <section class="section-dash-main" style="height: 380px;">
            <h1 id="principal">Cuestionarios Contestados</h1>
            <div class="canvas-container" style="width: 100px; height: 100x;">
                <canvas id="graficaD" ></canvas>
            </div>
        
            <div class="canvas-container" style="width: 300px; height: 300px padding: auto;">
                <canvas id="grafica"></canvas>
            </div>
        </section>
        <% }%>

        <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
       
       
<%- include('templates/footer.ejs') %>

<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
<script src="/bootstrap/js/bootstrap.min.js"></script>


<script>
    function niveles() {
        const $graficaD = document.querySelector("#graficaD");
        const data = {
            labels: [
                'People',
                'Business',
                'Crafts'
            ],
            datasets: [{
                    label: 'Mis niveles',
                    data: [<%= nivel_P %>, <%= nivel_B %>, <%= nivel_C %>],
                    fill: true,
                    backgroundColor: 'rgba(255, 99, 132, 0.2)',
                    borderColor: 'rgb(255, 99, 132)',
                    pointBackgroundColor: 'rgb(255, 99, 132)',
                    pointBorderColor: '#fff',
                    pointHoverBackgroundColor: '#fff',
                    pointHoverBorderColor: 'rgb(255, 99, 132)'
                }]
        };
        new Chart($graficaD, {
                type: 'radar',
                data: data,
                options: {
                    elements: {
                    line: {
                        borderWidth: 3
                    }
                    }
                },
        });
    };
    console.log(<%= nivel_P %>);
    niveles();
    </script>

<% if(rol==3) { %>
<script>
    const $grafica = document.querySelector("#grafica");
    const data = {
        labels: [
            'Contestados',
            'No contestados'
        ],
        datasets: [{
            label: 'Cuestionarios contestados',
            data: [<%= answered %>,<%= notanswered %>,],
            backgroundColor: [
            'rgb(255, 99, 132)',
            'rgb(54, 162, 235)'
            ],
            hoverOffset: 4
        }]
        };
        new Chart($grafica, {
            type: 'pie',
            data: data,
        });
</script>
<%  }%>