<%- include('templates/sidebarMain.ejs') %>
<% if (rol == 2) { %>
    <%- include('templates/sidebarPanelLead.ejs') %>
<% } %>
<%- include('templates/sidebarEnd.ejs') %>

<link rel="stylesheet" href="/css/sidebar.css" />
<link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css" />
<link rel="stylesheet" href="/css/buttons.css" />
<link rel="stylesheet" href="/css/section.css" />


<div>
<section class="section-card">
    <% if (success != '') { %>
        <div class="alert alert-success" role="alert">
            <strong>Atención! </strong><%- success -%>
        </div>
    <%} %>
<h1 id="principal">Lista de Empleados</h1>
<hr class="db-hr">

<!-- EMPLEADOS -->
<a href="/nuevoEmpleado"><button type="button" class="btn btn-outline-secondary">Registrar un nuevo empleado</button></a>
<br>
<table class="table table-striped" class="centered">
    <thead>
        <tr>
            <th>Nombre</th>
            <th>Apellidos</th>
            <th>Correo Electrónico</th>
            <th>Equipo</th>
            <th>Nivel Overall</th>
        </tr>
    </thead>
    <tbody>
        <% for (let empleado of empleados) { %>
            <tr>
                <td><%- empleado.nombre -%></td>
                <td><%- empleado.apellidoP + ' ' + empleado.apellidoM -%></td>
                <td><%- empleado.email -%></td>
                <td><%- empleado.equipo -%></td>
                <td><%- empleado.nivOverall -%></td>
                <td><a href = "/id-empleado=<%-empleado.idEmpleado-%>" class = "btn btn-outline-secondary">Editar</a></td>
            </tr>
        <%} %>
    </tbody>
</table>
<br><br>
</section>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
<script src="/bootstrap/js/bootstrap.min.js"></script>
<%- include('templates/footer.ejs') %>