<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
<link rel="stylesheet" href="/css/sidebar.css" />
<link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css" />
<link rel="stylesheet" href="/css/buttons.css" />

<%- include('templates/sidebar.ejs') %>
<body style="background: url('/img/bg-sire.png');">
<section class="main" style="background: var(--bs-light);filter: blur(0px);--bs-body-bg: #fff;border-style: double;">
<h1 id="principal">Lista de Empleados</h1><br>
<p>A continuación todos los empleados en la empresa:</p>

<!-- EMPLEADOS -->

<table class="striped" class="centered">
    <thead>
        <tr>
            <th>Nombre</th>
            <th>Apellidos</th>
            <th>Correo Electrónico</th>
            <th>Equipo</th>
            <th>Nivel Overall</th>
        </tr>
    </thead>
    <tbody>
        <% for (let empleado of empleados) { %>
            <tr>
                <td><%- empleado.nombre -%></td>
                <td><%- empleado.apellidoP + ' ' + empleado.apellidoM -%></td>
                <td><%- empleado.email -%></td>
                <td><%- empleado.equipo -%></td>
                <td><%- empleado.nivOverall.toFixed(1) -%></td>
            </tr>
        <%} %>
    </tbody>
</table>

<a href="/empleados/nuevoEmpleado"><button type="button" class="btn btn-outline-secondary">Registrar un nuevo empleado</button></a>
<br><br>
</section>
</body>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>