<%- include('includes/head.ejs') %>

<h1 id="principal">Lista de Empleados</h1><br>
<p>A continuación todos los empleados en la empresa:</p>

<!-- EMPLEADOS -->>

<table class = "center">
    <tr>
        <th>Nombre</th>
        <th>Apellidos</th>
        <th>Correo Electrónico</th>
        <th>Equipo</th>
        <th>Nivel Overall</th>
    </tr>
    <% for (let empleado of empleados) { %>
        <tr>
            <td><%- empleado.nombre -%></td>
            <td><%- empleado.apellidoP + ' ' + empleado.apellidoM -%></td>
            <td><%- empleado.email -%></td>
            <td><%- empleado.equipo -%></td>
            <td><%- empleado.nivOverall.toFixed(1) -%></td>
        </tr>
    <%} %>
</table>