
<link rel="stylesheet" href="/css/sidebar.css" />
<link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css" />
<link rel="stylesheet" href="/css/buttons.css" />
<link rel="stylesheet" href="/css/section.css" />

<%- include('templates/sidebarMain.ejs') %>
<<<<<<< HEAD
<% if (rol == 3) { %>
=======
<% if (rol == 2 || rol == 3) { %>
>>>>>>> c66453f2ac9410bd5e3f0a86a6b5ec86bd92e68f
    <%- include('templates/sidebarPanelLead.ejs') %>
<% } %>
<% if (rol == 2) { %>
    <%- include('templates/sidebarCLA.ejs') %>
<% } %>
<%- include('templates/sidebarEnd.ejs') %>


    <div>
        <section class="section-card">
                
                <% if (success != '') { %>
                    <div class="alert alert-success" role="alert">
                        <strong>Atención! </strong><%- success %>
                    </div>
                <%} %>

                <% if (warning != '') { %>
                    <div class="alert alert-danger" role="alert">
                        <strong>Atención! </strong><%- warning -%>
                    </div>
                <%} %>
                
            <h1 id="principal">Lista de Templates</h1>
            <hr class="db-hr">
            <table class="table">
                    <tr>
                        <th>Nombre del Template</th>
                    </tr>
                    <% for (let template of templates) { %>
                        <tr>
<<<<<<< HEAD
                            <td ><%- template.NombreTemplate -%></td>
                            <td><a href = "/templates/template=<%-template.idTemplate-%>" class = "btn-normal">Modificar</a></td>
=======
                            <td ><%= template.NombreTemplate %></td>
                            <td><a href = "/templates/template=<%-template.idTemplate-%>" class = "btn btn-outline-secondary">Modificar</a></td>
>>>>>>> c66453f2ac9410bd5e3f0a86a6b5ec86bd92e68f
                        </tr>
                    <%} %>
            </table>
            <hr class="db-hr">
            <a href="/empleados/dashboard"><button type="button" class="btn-navigation">Regresar al dashboard</button></a>
        </section>
    </div>
    <br>