<%- include('templates/sidebarMain.ejs') %>
<% if (rol == 2 || rol == 3) { %>
    <%- include('templates/sidebarPanelLead.ejs') %>
<% } %>
<%- include('templates/sidebarEnd.ejs') %>

<link rel="stylesheet" href="/css/sidebar.css" />
<link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css" />
<link rel="stylesheet" href="/css/buttons.css" />
<link rel="stylesheet" href="/css/section.css" />

<div>
    <section class="section-card">
        <h1 id="principal">Buen día, <%= nombreSesion %> <%= apellidoPSesion %> </h1>
        <hr class="db-hr">
        <% if (cuestMentees.length > 0) { %>
        <h3>Estas son las evaluaciones de tu mentorado:</h3>
        <table class="table table-striped" class="centered">
            <tr>
                <th>Evaluador:</th>
                <th>Periodo:</th>
                <th>Evaluación:</th>
            </tr>
            <tbody>
                <% for (let cuestMentee of cuestMentees) { %>
                <tr>
                    <td><%= cuestMentee.nombre %> <%= cuestMentee.apellidoP %> <%= cuestMentee.apellidoM %></td>
                    <td><%- moment.tz(cuestMentee.FechaInicio, 'UTC').format("LL") %> <%- moment.tz(cuestMentee.FechaFin, 'UTC').format("LL") %></td>
                    <td><a href = "/mentees/evalMentee=<%-cuestMentee.idCuestionario-%>" class = "btn btn-outline-secondary">Consultar Respuestas</a></td>
                </tr>
                <% } %>
            </tbody>
        </table>
        <% } else { %>
            <p>Parece que a tu mentee no lo han evaluado aún, regresa más tarde.</p>
        <% } %>
        <br>
        <a href="/mentees/misMentorados"><button type="button" class="btn btn-secondary">Regresar a tus Mentorados</button></a>
    </section>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
<script src="/bootstrap/js/bootstrap.min.js"></script>
<%- include('templates/footer.ejs') %>