<%- include('templates/sidebarMain.ejs') %>
<% if (rol == 2) { %>
    <%- include('templates/sidebarPanelLead.ejs') %>
<% } %>
<%- include('templates/sidebarEnd.ejs') %>

<link rel="stylesheet" href="/css/sidebar.css" />
<link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css" />
<link rel="stylesheet" href="/css/buttons.css" />
<link rel="stylesheet" href="/css/section.css" />
<script
src="https://code.jquery.com/jquery-3.6.0.min.js"
integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
crossorigin="anonymous"></script>

<div>
    <section class="section-card">
        <% if (success != '') { %>
            <div class="alert alert-success" role="alert">
                <strong>Atención! </strong><%- success -%>
            </div>
        <%} %>
        
        <h1 id="principal">Buen día, <%- nombreSesion %> <%- apellidoPSesion %> </h1>
        <hr class="db-hr">
        <h3>Estos son tus mentorados de éste periodo:</h3>
        <table class="table table-striped" class="centered">
            <tr>
                <th>Nombre del Mentorado:</th>
                <th>Nivel Craft:</th>
                <th>Nivel Business:</th>
                <th>Nivel People:</th>
                <th>Evaluación:</th>
            </tr>
            <tbody>
                <% for (let mentorado of mentorados) { %>
                <tr>
                    <td><%- mentorado.nombre -%> <%- mentorado.apellidoP -%> <%- mentorado.apellidoM -%></td>
                    <td>
                        <label><%- mentorado.nivCraft -%> de 5.5</label><br>
                        <progress data-label="test" max="5.5" value="<%- mentorado.nivCraft -%>"></progress>
                    </td>
                    <td><%- mentorado.nivBusiness -%></td>
                    </td>
                    <td><%- mentorado.nivPeople -%></td>
                    <td><a href = "/mentees/id-mentorado=<%-mentorado.idMentee-%>" class = "btn btn-outline-secondary">Feedback de Compañeros</a>
                        <a href = "/mentees/observaciones-id-mentorado=<%-mentorado.idMentee-%>" class = "btn btn-outline-secondary">Mis Observaciones</a></td>
                </tr>
                <% } %>
            </tbody>
        </table>
        <br>
        <a href="/dashboard"><button type="button" class="btn btn-secondary">Regresar al Dashboard</button></a>
    </section>
    
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
<script src="/bootstrap/js/bootstrap.min.js"></script>


<%- include('templates/footer.ejs') -%>