<link rel="stylesheet" href="/css/sidebar.css" />
<link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css" />
<link rel="stylesheet" href="/css/buttons.css" />
<link rel="stylesheet" href="/css/section.css" />

<%- include('templates/sidebarMain.ejs') %>
<% if (rol == 2) { %>
    <%- include('templates/sidebarPanelLead.ejs') %>
<% } %>
<%- include('templates/sidebarEnd.ejs') %>


    <div>
        <section class="section-card">
            <h1 id="principal">Periodos de Evaluación</h1>
            <h2>Agregar un nuevo periodo:</h2>
            <br>
            <form action="/periodos/nuevoPeriodo" method="POST">
                <label for="FechaInicio">Fecha de Inicio: </label>
                <input type="date" id="FechaInicio" name="FechaInicio" min="<%- moment(fecha).utc().format("YYYY-MM-DD") -%>">
                <br><br>
                <label for="FechaFin">Fecha Fin: </label>
                <input type="date" id="FechaFin" name="FechaFin" min="<%- moment(fecha).utc().format("YYYY-MM-DD") -%>">
                <br><br>
                <button type="submit" class="btn btn-outline-secondary" id="btnRegPeriodo" onclick="checkDate()">Registrar</button>
            </form>
            <br>
            <a href="/dashboard"><button type="button" class="btn btn-secondary">Regresar al dashboard</button></a>
        </section>
    </div>
</body>

<script>
    
    function checkDate() {
        var fechaInicio = document.getElementById("FechaInicio");
        var fechaFin = document.getElementById("FechaFin");

        fechaInicio = moment(fechaInicio).utc().format("YYYY-MM-DD");
        fechaFin = moment(fechaFin).utc().format("YYYY-MM-DD");

        console.log(fechaInicio);
        console.log(fechaFin);

        if (fechaFin < fechaInicio) {
            alert("La fecha final no puede ser menor a la fecha inicial")
        } else if (fechaFin == fechaInicio) {
            alert("La fecha final no puede ser el mismo día que la fecha inicial")
        }
    }
</script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
<script src="/bootstrap/js/bootstrap.min.js"></script>

<%- include('templates/footer.ejs') %>