<link rel="stylesheet" href="/css/sidebar.css" />
<link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css" />
<link rel="stylesheet" href="/css/buttons.css" />
<link rel="stylesheet" href="/css/section.css" />

<%- include('templates/sidebarMain.ejs') %>
<% if (rol == 2) { %>
    <%- include('templates/sidebarPanelLead.ejs') %>
<% } %>
<%- include('templates/sidebarEnd.ejs') %>
    <div>
        <section class="section-card">
            <% if (warning_empalme != '') { %>
                <div class="alert alert-warning" role="alert">
                    <strong>Alerta: </strong><%- warning_empalme -%>
                </div>
            <%} %>
            <% if (success != '') { %>
                <div class="alert alert-success" role="alert">
                    <strong>Atención! </strong><%- success -%>
                </div>
            <%} %>
<<<<<<< HEAD
            <h2 align="center">Periodos de Evaluación</h2>
            <hr class="db-hr">
            <a href="/periodos/nuevoPeriodo"><button type="button" class="btn-normal">Registrar un nuevo Periodo</button></a>
=======
            <h2 align="center">Periodos de Evaluación:</h2>
            <hr class="db-hr">
            <a href="/periodos/nuevoPeriodo"><button type="button" class="btn btn-outline-secondary">Registrar un nuevo Periodo</button></a>
>>>>>>> a040aa970b39f7b3ed75f4332eadc21f9b32756f
            <br><br>
            <% if (periodos.length > 0) { %>
                <table class="table table-striped centered">
                    <tr>
                        <th>Periodo:</th>
                        <th>Fecha Inicio:</th>
                        <th>Fecha de Finalización:</th>
                        <th>Modificar:</th>
                    </tr>
                    <% for (let periodo of periodos) { %>
                    <tr>
                        <td><%- periodo.idPeriodo -%></td>
                        <td><%- moment.tz(periodo.FechaInicio, 'UTC').format("LL")%></td>
                        <td><%- moment.tz(periodo.FechaFin, 'UTC').format("LL")%></td>
<<<<<<< HEAD
                        <td><a href="/periodos/editPeriodo=<%- periodo.idPeriodo -%>" class = "btn-normal">Modificar Periodo</a></td>
=======
                        <td><a href="/periodos/editPeriodo=<%- periodo.idPeriodo -%>" class = "btn btn-outline-secondary btn-sm">Modificar Periodo</a></td>
>>>>>>> a040aa970b39f7b3ed75f4332eadc21f9b32756f
                    </tr>
                    <%} %>
                </table>
            <%} else { %>
                <p>Por ahora, no hay ningún periodo de evaluación activo.</p>
            <% } %>
            <br>
<<<<<<< HEAD
            <a href="/empleados/dashboard"><button type="button" class="btn-navigation">Regresar al Dashboard</button></a>
=======
            <a href="/dashboard"><button type="button" class="btn btn-secondary">Regresar al Dashboard</button></a>
>>>>>>> a040aa970b39f7b3ed75f4332eadc21f9b32756f
        </section>
    </div>
<%- include('templates/footer.ejs') %>