<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
<link rel="stylesheet" href="/css/sidebar.css" />
<link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css" />
<link rel="stylesheet" href="/css/buttons.css" />
<link rel="stylesheet" href="/css/section.css" />
<%-moment.locale('es-mx')-%>

<%- include('templates/sidebar.ejs') %>

<body style="background: url('/img/bg-sire.png');">

<<<<<<< HEAD
    <table class="striped" class="centered">
        <thead>
            <tr>
                <th>Periodos de Evaluación</th>
            </tr>
        </thead>
        <tbody type="date">
            <% for (let periodo of periodos) { %>
                <tr>
                    <td type="date"><%- periodo.FechaInicio -%>, <%- periodo.FechaFin -%></td>
                </tr>
            <%} %>
        </tbody>
    </table>
    <a href="/empleados/nuevoPeriodo"><button type="button" class="btn btn-outline-secondary">Registrar un nuevo Periodo</button></a>

</section>
<br>
=======
    <div class="main">
        <section class="section-card">
            <h2 align="center">Periodos de Evaluación:</h2>
            <hr class="db-hr">
            <% if (periodos.length > 0) { %>
                <% for (let periodo of periodos) { %>
                    <div class = "row">
                        
                        <div class="card mb-3" style="max-width: 540px;">
                            <div class="row g-0">
                                <div class="col-md-8">
                                    <div class="card-body">
                                        <h5 class="card-title">Periodo del <%- moment.tz(periodo.FechaInicio, 'UTC').format("LL")%> al <%- moment.tz(periodo.FechaFin, 'UTC').format("LL")%></h5>
                                        <p class="card-text">Fecha de Inicio: <%- moment.tz(periodo.FechaInicio, 'UTC').format("YYYY-MM-DD")%></p>
                                        <p class="card-text">Fecha de finalización: <%- moment.tz(periodo.FechaFin, 'UTC').format("YYYY-MM-DD")%></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                <%} %>

            <%} else { %>
                <p>Por ahora, no hay ningún periodo de evaluación activo.</p>
            <% } %> 
            <a href="/empleados/nuevoPeriodo"><button type="button" class="btn btn-dark">Registrar un nuevo Periodo</button></a>
        </section>
    </div>
</body>
>>>>>>> e6465134656f78fe0b49f985e91b472589ea9c16
