<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
<link rel="stylesheet" href="/css/sidebar.css" />
<link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css" />
<link rel="stylesheet" href="/css/buttons.css" />
<link rel="stylesheet" href="/css/section.css" />

<%- include('templates/sidebar.ejs') %>

<body style="background: url('/img/bg-sire.png');">
    <div class="main">
        <section class="section-card">
            <% for (let template of templates) { %>
            <form action="/empleados/id-template=<%-template.idTemplate-%>" method="POST">
                <h1 id="principal">Editar Template: </h1>
                <hr class="db-hr">
                <label for="NombreTemplate">Nombre del Template: </label>
                <input type="text" id="NombreTemplate" name="NombreTemplate" value="<%-template.NombreTemplate-%>" />
                <br><br>
                <!-- Para los seleccionar las preguntas -->
                <label>Selecciona las preguntas que van a componer el Template: </label>
                <br><br>
                <% for (let pregunta of preguntas) { %>
                    <label>
                        <input type="checkbox" id="fk_idPregunta" name="fk_idPregunta" value=<%- pregunta.idPregunta -%> />
                        <span for="fk_idPregunta"><%- pregunta.descPregunta -%></span>
                <%} %>
                    </label>
                    <br><br>
                    <input type="submit" formaction="/empleados/edit-id-template=<%-template.idTemplate-%>" formmethod="POST">Confirmar selección de pregunta</input>
                    </form>
                    <br><br>
                
                
            <%} %>
                <button type="submit">Guardar Template</button>
            </form>
        </section>
    </div>
</body>

<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
<script src="/bootstrap/js/bootstrap.min.js"></script>